.widget {
  z-index: 999;
  transition: opacity 500ms ease-in-out;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  background: rgba(38, 41, 54, .9);
  border: 2px solid rgba(62, 67, 84, .9);
  color: rgba(132, 137, 154, 1);
  text-transform: uppercase;
}

.widget.hide {
  opacity: 0;
  pointer-events: none;
}

.widget.show {
  opacity: 1;
}

.widget > .close {
  position: absolute;
  right: 10px;
  top: 5px;
  align-self: center;
  cursor: pointer;
  z-index: 1001;
  font-size: 25px;
  font-family: Arial;
}

.widget > .layout {
  color: rgba(132, 137, 154, 1);
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.widget > .layout > .count {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: -1px;
  padding-right: 10px;
}

.widget > .layout > .caption {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: -1px;
}
