.logbook {
  display: flex;
  flex-direction: column;
  color: rgba(132, 137, 154, 1);
  text-transform: uppercase;
}

.logbook > .header {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;
  font-size: 20px;
}

.logbook > .header > .spacer {
  min-width: 17.5px;
  min-height: 30px;
}

.logbook > .header > .logbook-entry-count {
  display: flex;
  font-weight: 100;
  font-size: 12px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.logbook > .header > .plus {

}

.logbook > .entries {
  flex-grow: 1;
}

.logbook-entry-container {
  display: flex;
}

.logbook > .start-here {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.logbook > .start-here > .caption {
  font-weight: 100;
  font-size: 16px;
  text-align: center;
}

.logbook > .start-here > .pointer {
  transform: rotate(-45deg);
  margin-left: auto;
}

.logbook-entry-date-selector {
  transition: opacity 250ms linear;
  position: absolute;
  top: 35px;
  left: 0px;
  overflow: hidden;
}

.logbook-entry-date-selector.hide {
  opacity: 0;
  pointer-events: none;
}

.logbook-entry-date-selector.show {
  opacity: 1;
  pointer-events: all;
}

.logbook-entry-date-selector > .close {
  position: absolute;
  right: 25px;
  top: 0px;
  z-index: 100;
}

.Cal__Weekdays__root {
  border-top: 1px solid rgba(var(--border-color), 1);
}

.Cal__Today__chevron {
  right: 15px;
}
