.rider-result-container {
  display: flex;
  justify-content: center;
}

.rider-result {
  border-radius: 10px;
  border: 2px solid rgba(var(--border-color), 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.rider-result > .name {
  font-weight: 900;
  font-size: 25px;
  padding-bottom: 5px;
  letter-spacing: -.5px;
}

.rider-result > .stats {
  display: flex;
  flex-direction: column;
}

.rider-result > .stats > .divider {
  align-self: center;
  font-weight: 100;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 17px;
  color: rgba(var(--border-color), 1);
}

.rider-result > .stats > .stats-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
