.track-map {
  border-radius: 0px !important;
}

.leaflet-container {
  background: rgba(38, 41, 54, 1)
}

.leaflet-tile-pane {
  filter: grayscale(100%) invert(1);
}

.track-icon-svg {
  transition: all 250ms ease-in-out;
}

.track-icon-svg > .ring {
  transition: all 250ms ease-in-out;
}

.track-icon-svg.active {
  animation-name: pulse_animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 999;
}

@keyframes pulse_animation {
  0% { transform: scale(1); }
  25% { transform: scale(1.25); }
  50% { transform: scale(1.5); }
  75% { transform: scale(1.25); }
  100% { transform: scale(1); }
}

.color-overlay {
  position: fixed;
}
