.venue-selector {
  padding: 25px;
}

.venue-selector > .venues {
  border: 2px solid rgba(var(--border-color), 1);
  border-radius: var(--border-radius);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.venue-selector > .venues > .venue {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(var(--border-color), 1);
  padding: 10px;
}

.venue-selector > .venues > .venue.selected {
  background: rgba(10, 10, 10, .2);
  color: rgba(var(--active-color), 1);
}

.venue-selector > .venues > .venue > .name {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: -1px;
}

.venue-selector > .venues > .venue > .location {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: -.5px;
}

.venue-selector > .venues > .venue.no-venues-found > .name {
  font-weight: 100;
}
