.venue-selector {
  padding: 25px;
  padding-top: 0px;
}

.venue-selector > .header {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  padding-left: 10px;
  align-items: center;
}

.venue-selector > .header > .name-input {
  flex-grow: 1;
  display: flex;
}

.venue-selector > .header > .name-input > .field > input {
  font-weight: 100;
  text-transform: uppercase;
}

.venue-selector > .header > div {
  padding-right: 10px;
}

.venue-selector > .venues {
  border: 2px solid rgba(var(--border-color), 1);
  border-radius: var(--border-radius);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.venue-selector > .venues > .venue {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(var(--border-color), 1);
  padding: 10px;
  min-height: 53px;
}

.venue-selector > .venues > .no-venues-found {
  min-height: 33px;
}

.venue-selector > .venues > .venue.selected {
  background: rgba(10, 10, 10, .2);
  color: rgba(var(--active-color), 1);
}

.venue-selector > .venues > .venue > .name {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: -1px;
}

.venue-selector > .venues > .venue > .location {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: -.5px;
}

.venue-selector > .venues > .venue.no-venues-found > .name {
  font-weight: 100;
}
