.logbook-entry {
  border-radius: 10px;
  border: 2px solid rgba(62, 67, 84, 1);
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.logbook-entry.deleted {
  animation-duration: 250ms;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {opacity: 1; transform: scale(1);}
  40% {opacity: 0.75; transform: scale(.75);}
  60% {opacity: 0.5; transform: scale(.5);}
  100% {opacity: 0; transform: scale(0);}
}

.logbook-entry > .header {
  line-height: 1;
}

.logbook-entry > .header > .title {
  font-weight: 900;
  letter-spacing: -3px;
  font-size: 35px;
  padding: 10px;
  padding-bottom: 0px;
}

.logbook-entry.android > .header > .title {
  letter-spacing: -1px;
}

.logbook-entry > .header > .track {
  font-weight: 100;
  letter-spacing: -1px;
  padding-left: 10px;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logbook-entry > .header > .date {
  font-weight: 100;
  letter-spacing: -1px;
  padding-left: 10px;
  font-size: 20px;
  padding-bottom: 5px;
}

.logbook-entry > .header > .day {
  font-weight: 100;
  letter-spacing: -1px;
  padding-left: 10px;
  font-size: 20px;
  padding-bottom: 10px;
}

.logbook-entry > .header > .category-points {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  font-weight: 100;
  font-size: 20px;
}

.logbook-entry > .header > .category-points > .points {
  padding-left: 5px;
}

.logbook-entry > .header > .extras {
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  font-weight: 100;
  font-size: 20px;
}

.logbook-entry > .header > .total-motos {
  padding-bottom: 10px;
}

.logbook-entry > .riders {
  flex-grow: 1;
  overflow-y: scroll;
  border-top: 2px solid rgba(62, 67, 84, 1);
}

.logbook-entry > .riders > .rider {
  border-bottom: 2px solid rgba(62, 67, 84, 1);
}

.rc-swipeout-content {
  display: flex;
  font-size: 18px;
  padding-top: 10px;
  align-items: center;
}

.rc-swipeout-content > .title {
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.rc-swipeout-content > .title > .name {
  letter-spacing: -1px;
}

.rc-swipeout-content > .title > .proficiency {
  font-weight: 100;
  font-size: 14px;
  letter-spacing: -.5px;
}

.rc-swipeout-content > .add-rider {
  margin-left: auto;
  font-size: 14px;
  margin-right: 10px;
  align-self: flex-start;
}

.rc-swipeout-content > .extras {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-left: 10px;
}

.motos > .rounds {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  border-top: 1px solid rgba(62, 67, 84, 1);
}

.motos > .rounds > .round {
  border-right: 1px solid rgba(62, 67, 84, 1);
  font-weight: 100;
  letter-spacing: -.5px;
  flex-grow: 1;
  min-width: 38px;
}

.motos > .rounds > .round:last-child {
  border-right: 0px;
}

.motos > .rounds > .round > .title, .motos > .rounds > .round > .number {
  border-bottom: 1px solid rgba(62, 67, 84, 1);
}

.motos > .rounds > .round > .number, .motos > .rounds > .round > .finish {
  padding: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: all 100ms ease;
}

.motos > .rounds > .round > .number.hide, .motos > .rounds > .round > .finish.hide {
  height: 0px;
  max-height: 0px;
  min-height: 0px;
  border-bottom: 0px;
}

.motos > .rounds > .round > .number > input, .motos > .rounds > .round > .finish > input {
  background: transparent;
  border-radius: 0px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  background: transparent;
  border: 0px;
  padding: 10px 0px;
  color: rgba(var(--foreground-color), 1);
  border-bottom: 2px solid rgba(var(--background-color), 1);
}

.motos > .rounds > .round > .number > input::placeholder, .motos > .rounds > .round > .finish > input::placeholder {
  color: rgba(var(--foreground-color), .4);
  font-size: 10px;
  font-weight: 100;
}

.motos > .rounds > .round > .number > input::placeholder {
  font-size: 12px;
}

.motos > .rounds > .round > .number > input:focus, .motos > .rounds > .round > .finish > input:focus {
  outline: none;
  border-bottom: 2px solid rgba(var(--active-color), 1);
}

.motos > .rounds > .round > div {
  min-height: 25px;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
}

.motos > .rounds > .round > .title.fraction {
  font-size: 11px;
}

.logbook-entry > .footer {
  border-top: 2px solid rgba(62, 67, 84, 1);
  padding: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.logbook-entry > .footer > .submitted {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.logbook-entry > .footer > .submitted > .caption {
  font-weight: 100;
  letter-spacing: -.5px;
  padding-right: 10px;
}

.moto-details-accordion {
  background-color: transparent;
}

.rc-collapse-anim-active {
  transition: height 0.2s ease;
}

.moto-details-accordion > .rc-collapse-item > .rc-collapse-header {
  display: none;
}

.moto-details-accordion > .rc-collapse-item > .rc-collapse-header .arrow {
  display: inline-block;
  content: '\20';
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 4px solid #666;
  vertical-align: middle;
  margin-right: 8px;
}

.moto-details-accordion > .rc-collapse-item > .rc-collapse-header .rc-collapse-extra {
  margin: 0 16px 0 auto;
}

.moto-details-accordion > .rc-collapse-item-disabled > .rc-collapse-header {
  cursor: not-allowed;
  color: #999;
  background-color: #f3f3f3;
}

.rc-collapse-content {
  overflow: hidden;
  background-color: transparent;
}

.rc-collapse-content-inactive {
  display: none;
}
