.track-row-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.track-row {
  z-index: 999;
  transition: opacity 500ms ease-in-out;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  background: rgba(38, 41, 54, .9);
  border: 2px solid rgba(62, 67, 84, .9);
  color: rgba(132, 137, 154, 1);
  text-transform: uppercase;
  position: fixed;
  height: 125px;
  width: 100%;
}

.track-row > .detail-layout {
  cursor: default;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 26px);
  padding: 10px;
  padding-bottom: 5px;
}

.track-row > .detail-layout > .district-container {
  display: flex;
  align-items: center;
}

.track-row > .detail-layout > .district-container > .district {
  padding-right: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 2px solid rgba(62, 67, 84, .8);
  color: rgba(102, 107, 124, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 13px;
  font-size: 50px;
  letter-spacing: -7px;
  font-weight: bold;
}

.track-row > .detail-layout > .details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  margin-right: 40px;
  overflow: hidden;
}

.track-row > .detail-layout > .details > .trackname {
  font-size: 25px;
  font-weight: 900;
  letter-spacing: -4px;
  line-height: 30px;
}

.track-row.android > .detail-layout > .details > .trackname {
  letter-spacing: -1.5px;
}

.track-row > .detail-layout > .details > .state {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -1px;
}

.track-row > .detail-layout > .details > .operator, .track-row > .detail-layout > .details > .phone, .track-row > .detail-layout > .details > .email, .track-row > .detail-layout > .details > .url {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: -1px;
}

.track-row > .detail-layout > .details > .email, .track-row > .detail-layout > .details > .url {
  cursor: pointer;
}

.track-row > .detail-layout > .get-directions {
  padding-right: 12px;
  cursor: pointer;
  z-index: 1001;
  font-size: 15px;
  position: absolute;
  right: 5px;
  bottom: 10px;
  color: rgba(102, 107, 124, 1);
}
