.age-group-selector {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.age-group-selector > .age-groups {
  border: 2px solid rgba(var(--border-color), 1);
  border-radius: var(--border-radius);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.age-group-selector > .age-groups > .age-group {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(var(--border-color), 1);
  padding: 10px;
  min-height: 30px;
}

.age-group-selector > .age-groups > .age-group.selected {
  background: rgba(10, 10, 10, .2);
  color: rgba(var(--active-color), 1);
}

.age-group-selector > .age-groups > .age-group > .name {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: -1px;
}
