.mobile-navigation {
  z-index: 999;
  transition: all 500ms ease-in-out;
  background: rgba(38, 41, 54, 1);
  display: flex;
  flex-direction: row;
  width: 100%;
  color: rgba(62, 67, 84, 1);
  position: relative;
  /* border-top: 2px solid rgba(44, 49, 64, 1); */
}

.mobile-navigation > .tab-indicator {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 2px;
  width: 100%;
  background: rgba(44, 49, 64, 1);
}

.mobile-navigation > .tab-indicator > .active-tab {
  background: rgb(101, 219, 146);
  height: 2px;
  transition: all 250ms ease-in-out;
}

.mobile-navigation.collapsed {
  height: 75px;
  min-height: 75px;
}

.mobile-navigation > .btn {
  cursor: pointer;
  border-right: 2px solid rgba(44, 49, 64, 1);
  display: flex;
  align-items: center;
  font-size: 20px;
  flex-grow: 1;
  justify-content: center;
}

.mobile-navigation > .btn:last-child {
  border-right: 0px;
}

.mobile-navigation > .btn.active {
  color : rgb(101, 219, 146);
}

.mobile-navigation > .btn.track-mode > .map-marker {
  margin-top: -5px;
}

.mobile-navigation > .btn.track-mode > .list {
  font-size: 12px;
  margin-top: 15px;
}
